@import 'styles/variables';

.register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerContainer {
  max-width: 400px;
  text-align: left;
  background-color: $background-color-white;
  border-radius: 3;
  padding: $padding-l;
}

.registerTitle {
  margin-top: 0;
}

.registerDesc {
  color: $text-color-secondary;
}

.sectionGroup {
  display: flex;
  flex-direction: row;
  gap: $gap-m;
  margin: $margin-m 0;

  & div {
    width: 100%;

    & label {
      color: $text-color-secondary;
    }

    & input {
      width: 100%;
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin: $margin-m 0;
  text-align: left;

  & label {
    color: $text-color-secondary;
  }
}

.sectionBtn {
  margin: 0;
  margin-top: $margin-l;
  width: 100%;

  & button {
    width: 100%;
  }
}

.link {
  text-align: center;
}

.error {
  margin: 0;
  margin-top: $margin-s;
  font-size: 0.9em;
  color: rgb(211, 28, 28);
}
