@import '/src/styles/variables.scss';

.button {
  display: flex;
  justify-content: center;
  border: 0;
  height: fit-content;
  padding: $padding-s;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  border-radius: 3px;
  background-color: $color-primary;
  will-change: background-color;
  transition: background-color 400ms;

  &:hover {
    background-color: $color-primary-dark;
    transition: background-color 125ms;
    box-shadow: 0px 5px 15px 0px hsla(212, 78%, 58%, 0.35);
  }
}

.buttonSecondary {
  display: flex;
  justify-content: center;
  border: 0;
  height: fit-content;
  padding: $padding-s;
  color: $text-color-secondary;
  cursor: pointer;
  font-size: 1em;
  border-radius: 3px;
  background-color: $background-color-gray;
  will-change: background-color;
  transition: background-color 400ms;
  border: 1px solid $border-color-light;

  &:hover {
    background-color: $background-color-white;
    transition: background-color 125ms;
    box-shadow: $box-shadow-light;
  }
}
