$max-width: 940px;

$color-primary: hsla(212, 81%, 48%, 1);
$color-primary-dark: hsla(212, 81%, 38%, 1);

$color-secondary: rgba(66, 195, 172, 0.75);

$background-color: hsla(220, 60%, 98%, 1);
$background-color-dark: hsla(212, 77%, 17%, 1);

$background-color-white: hsla(0, 0%, 100%, 1);
$background-color-white-hover: hsla(220, 60%, 98%, 1);

$background-color-gray: hsla(220, 60%, 98%, 1);

$text-color-primary: hsla(217, 50%, 7%, 1);
$text-color-secondary: hsla(217, 50%, 7%, 0.8);
$text-color-primary-dark: hsla(0, 0%, 100%, 1);
$text-color-secondary-dark: hsla(0, 0%, 100%, 0.8);

$padding-s: 8px;
$padding-m: 16px;
$padding-l: 24px;
$padding-xl: 32px;

$margin-s: 0.5em;
$margin-m: 1em;
$margin-ml: 1.5em;
$margin-l: 2em;
$margin-xl: 3em;
$margin-xxl: 4em;

$gap-s: 8px;
$gap-m: 16px;
$gap-l: 24px;
$gap-xl: 32px;
$gap-xxl: 48px;

$border-color-white: hsla(0, 0%, 100%, 1);
$border-color-light: hsla(220, 10%, 78%, 1);

$box-shadow-light: 0px 5px 15px 0px hsla(220, 10%, 88%, 1);
$box-shadow-dark: 0px 5px 15px 0px hsla(212, 77%, 47%, 1);
